body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: #0b59be;
}

/* Styles added for pagination links */

.pagination {
  color:rgb(0, 0, 0);
  display: inline-block;
  font-size: 16px;
  margin-right: 2px;
  padding-left: 8px;
  border: 1px solid transparent;
  text-decoration: none;
}

.pagination:active,
.pagination:hover {
  border: 1px solid;
  background-color: rgb(221, 22, 22);
  color:seashell;
}

.error {
  color:rgb(221, 22, 22);
}